

<div id="create-form" linkto="<%=services_close_new_modal_path%>">

  
  <div class="btn-group pull-right">
    <%= link_to "Download Services List", services_get_pdf_path, :class => "btn btn-default" %>
    <button class="btn btn-primary" data-toggle="modal" data-target="#service-form">Add New Service</button>
  </div>

  <%= render partial: 'services/form' , locals: {nservice: nservice, formid: "service-form" , newform: true} %>

</div>

<br><br>

<div class="table-responsive">
  <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th><%= sortable 'name','Name', services_path %></th>
        <th>Sub Name</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody id="mytable">
      <% services.each do |service| %>
        <%= render partial: 'services/record' , locals: {service: service} %>
      <% end %>
    </tbody>
  </table>
  <br>
</div>