<p id="notice"><%= notice %></p>

<p>
  <strong>Nationalid:</strong>
  <%= @person.nationalid %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @person.birth_date %>
</p>

<p>
  <strong>First name:</strong>
  <%= @person.first_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @person.middle_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @person.last_name %>
</p>

<p>
  <strong>Addressa:</strong>
  <%= @person.addressA %>
</p>

<p>
  <strong>Addressb:</strong>
  <%= @person.addressB %>
</p>

<p>
  <strong>Addressc:</strong>
  <%= @person.addressC %>
</p>

<p>
  <strong>Addressd:</strong>
  <%= @person.addressD %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @person.phone_number %>
</p>

<p>
  <strong>Mobile number1:</strong>
  <%= @person.mobile_number1 %>
</p>

<p>
  <strong>Mobile number2:</strong>
  <%= @person.mobile_number2 %>
</p>

<p>
  <strong>Role:</strong>
  <%= @person.role_id %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
