<h1>Manage Tags</h1>

<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">

    <li role="presentation"  class="active">
      <a href="#crud" aria-controls="crud" role="tab" data-toggle="tab">Create & edit Tags</a>
    </li>

    <li role="presentation" >
      <a href="#srchitem" aria-controls="srchitem" role="tab" data-toggle="tab">Search for a Tag</a>
    </li>

    <li role="presentation">
      <a href="#topc" aria-controls="topi" role="tab" data-toggle="tab">Top Tags</a>
    </li>

  </ul>

  <!-- Tab panes -->
  <div class="tab-content">

    <div role="tabpanel" class="tab-pane active" id="crud">
      <%= render partial: 'tags/list_table_tags' , locals: { tags: @tags, ntag: @ntag } %>
    </div>

    <div role="tabpanel" class="tab-pane" id="srchitem">

      <div class="form-group">

             <div class="input-group btn-group">

                <%= form_tag(tags_get_tag_path, method: "get", remote: true, id: "crud-srch") do %>
                    
                    <div class="btn-group">
                      <div class="btn-group">
                          <%= text_field_tag(:tagName, nil,class: "form-control", placeholder: "tag name") %>
                      </div>
                      
                      <div class="btn-group">             
                          <%= submit_tag("Get tag!",class: "btn btn-default")%>
                      </div>
                    
                    </div>

                <% end %>

              </div>
          </div>

      <div id="srchTagPos">
      </div>

    </div>

    <div role="tabpanel" class="tab-pane" id="topc">
      <%= render partial: 'tags/list_top_tags' , locals: { tags: @topTags } %>
    </div>
    
  </div>

</div>

