
$("#notice-location-form").empty();
$("#notice-location-form").append("<div class='panel' id='notice'><div class='panel-heading' id='noticeh'></div></div>"); 
 
<% if @item == nil %>

	$("#noticeh").append("<div class='panel-title'>Failed: </div><ul id='noticeb'></ul>");

	<% @str.each do |s| %>
		$("#noticeb").append("<li><%= s %></li>");
	<% end %>
	
<% else %>

	$("#mytable").prepend("<%=escape_javascript(render partial: 'items/record' , locals: {item: @item})%>");
	$("#noticeh").append("<%= @str %>");
	//window.location.reload();

	$('[data-toggle="popover"]').popover({
        html: true,
        trigger: 'hover',
        content: function () {
          return '<img src="'+$(this).data('img') + '" />';
        }
      });


	$("#notmodal").replaceWith("<%=escape_javascript(render partial: 'layouts/confirm_new' , locals: {itmid: @item.id})%>");
	$("#mynotmodal").modal("show");

	$(".create-form-close").on("click",(function(){

        if( $('#notice-location-form').find('#notice').length )
        {
          $.ajax({
            url: $("#create-form").attr('linkto'),
            dataType: "script"
          });
        }

      }));

<% end %>

$("#notice").addClass("<%= @alert %>");