<p id="notice"><%= notice %></p>

<p>
  <strong>Loc1:</strong>
  <%= @location.loc1 %>
</p>

<p>
  <strong>Loc2:</strong>
  <%= @location.loc2 %>
</p>

<p>
  <strong>Loc3:</strong>
  <%= @location.loc3 %>
</p>

<p>
  <strong>Description:</strong>
  <%= @location.description %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
