<nav class="navbar navbar-material-red-400 shadow-z-1" style="margin-top: -20px;">
  <div class="container-fluid">
  	
  		<div class="navbar-form" role="search">

        <div class="form-group form-group-material-grey-50">

           <div class="input-group">

              <%= form_tag(home_search_path, method: "get") do %>
                  <%= hidden_field_tag(:cat, nil, id: "cat-hidden") %>
                  <%= hidden_field_tag(:subcat, nil, id: "subcat-hidden") %>
                  
                  <span class="btn-group">
                    <span class="btn-group">
                      <button id="b1" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true" style="color: #ffffff">
                        Category
                      </button>
                      <ul id="search-cat"class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">

                        <li role="presentation"><a  value="0" role="menuitem" tabindex="-1">All categories</a></li>
                        <% Category.all.each do |c| %>
                          <li role="presentation" ><a value="<%=c.id%>" role="menuitem" tabindex="-1"><%=c.name%></a></li>
                        <% end %>
                      </ul>
                    </span>

                    <span id="locationbtsub" class="btn-group" linktosub="<%= home_update_subcategories_path %>">
                    </span>
                  
                    <span class="btn-group">
                        <%= text_field_tag(:stags, nil,class: "form-control ",placeholder: "search", linktotags: home_get_tag_names_path, id: "tokenfield-typeahead") %>
                    </span>

                  </span>
                    
                    <span class="btn-group">             
                        <%= submit_tag("Search",class: "b0 btn btn-material-grey-50")%>
                    </span>
                  
                  

              <% end %>

            </div>

        </div>
  	</div>
  
  </div>
</nav>