<!DOCTYPE html>
<html>
<head>
	<meta name="viewport"
	content="width=device-width,initial-scale=1,maximum-scale=1">
  <title>ST Mary Rehab Church</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag :modernizr %>
  <%= csrf_meta_tags %>

</head>
<body style="background-image:url('../bkgrnd.jpg');">

	<%= render partial: 'layouts/navbar'%>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10" >
					<% unless notice == nil %>
					<div class='panel panel-info'><div class='panel-heading'><div class='panel-title' ><%= notice %></div></div></div>
					<% end %>
					<% unless alert == nil %>
					<div class='panel panel-danger'><div class='panel-heading'><div class='panel-title'><%= alert %></div></div></div>
					<% end %>
		</div>
		<div class="col-md-1"></div>
	</div>
	
	<div class="container">
		<div class="row">

			<div class="col-md-2" style="color: #ffffff;">
				<strong style="font-size: 125%;">
						Borrowing Rules:
						<br>
						<% 24.times do |c|%>
							<br>
							Rule <%= c + 1 %> : 
							blablablablabla.
							<br>
						<% end %>
						<br>
						<br>
						<br>
						<br>
				</strong>
			</div>

			<div class="col-md-10" >

					<div id="msgmodal"></div>

					<%= yield %>

			</div>
			

			
		</div>
	</div>

	
</body>
</html>
